  <!-- categories -->
    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1>GG</h1>
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/"><button type="button" class="btn btn-outline-success" id="loginButton">Log Out</button></a>

        </div>
    </nav>


    <!-- Categories -->
    <div class="container">
        <div class="col">
            <h3 class="text-center">Categories</h3>
            <p class="text-center">Get started by selecting an activity!</p>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">

                    </div>
                </div>
            </div>
        </div>
    </div>
