  <!-- categories -->
    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1><a style="color:green; text-decoration:none" href="http://www.google.com">GG</a></h1>
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/"><button type="button" class="btn btn-outline-success" id="loginButton">Log Out</button></a>

        </div>
    </nav>


    <!-- Categories -->
    <div class="container">
        <div class="col">
            <h3 class="text-center">Categories</h3>
            <p class="text-center">Get started by selecting an activity!</p>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card">            
                        <img src="images/ziplining.jpg" class="card-img-top" height="250" alt="Ziplining">
                        <div class="centered">
                            <h1>Zipline</h1>
                        </div>                       
                    </div>

                    <div class="card">
                        <img src="images/waterfall.jpg" class="card-img-top" height="250" alt="Waterfall">
                            <div class="centered">
                            <h1>Hike</h1>
                        </div>       
                    </div>
                    <div class="card">
                        <img src="images/moutain-climbing.jpg" class="card-img-top" height="250" alt="Climbing">
                            <div class="centered">
                            <h1>Moutain Climb</h1>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card">
                        <img src="images/pike-place.jpg" class="card-img-top" height="250" alt="Tour">
                            <div class="centered">
                            <h1>Tour</h1>
                        </div>       
                    </div>
                    <div class="card">
                        <img src="images/outdoor-hockey.jpg" class="card-img-top" height="250" alt="Hockey">
                            <div class="centered">
                            <h1>Out Door Sports</h1>
                        </div>       
                    </div>
                    <div class="card">
                        <img src="images/seattle-pier.jpg" class="card-img-top" height="250" alt="Sightseeing">
                            <div class="centered">
                            <h1>Sightseeing</h1>
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
