 <!-- Index -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Ready To GO?</h3>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus exercitationem quis omnis aperiam fugiat voluptatum cupiditate blanditiis, quod quas sequi molestias nulla autem. Corporis, reprehenderit quis? Ab recusandae aliquam
                    totam!
                </p>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">GO Gang</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p class="text-center">Please log in or sign up for an account</p>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Username</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name@domain.com">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Password</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                        Remember Me
                                    </label>
                            </div>
                        </div>
                        <div class="col">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-success">Login</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-success">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
