
 <!-- NavBar -->

<nav class="navbar navbar-light bg-light">
    <div class="d-flex justify-content-start">
        <h1><a style="color:black; text-decoration:none" href="http://www.google.com">GG</a></h1>
    </div>

    <div class="d-flex justify-content-center">
        <h1>GO Gang</h1>
    </div>

    <div class="d-flex justify-content-end">

        <a href="/auth/login"><button type="button" class="btn btn-outline-success" id="loginButton">Login</button></a>

    </div>
</nav>

<!-- Index -->

<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/skiing-snowboarding.jpg" class="d-block w-100" height="675px" alt="skiing-snowboarding">
                <div class="carousel-caption d-none d-md-block">
                    <h1>GO Gang</h1>
                    <h3>Be as spontaneous as the weather in the PNW!</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/hiking.jpg" class="d-block w-100" height="675px" alt="Hiking">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ready to GO?</h1>
                    <h3>Join a group or start one.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/horse-back-riding.jpg" class="d-block w-100" height="675px" alt="Horse Riding">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Please log in or sign up for an account.</h1>
                    <h3>It's easy to GO.</h3>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row" style="justify-content: center">

            <a href="/auth/signUp"><button type="button" class="btn btn-success" id="signUpButton">Sign Up</button></a>
        </div>
    </div>
