 <!-- Index -->
 <div class="container">
     <div class="row">
         <div class="col">
             <h3 class="text-center">Ready To GO?</h3>
             <br>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus exercitationem quis omnis
                 aperiam fugiat voluptatum cupiditate blanditiis, quod quas sequi molestias nulla autem. Corporis,
                 reprehenderit quis? Ab recusandae aliquam
                 totam!
             </p>
         </div>

         <div class="col">
             <div class="row">
                 <div class="col">
                     <h3 class="text-center">GO Gang</h3>
                 </div>
             </div>
             <br>
             <div class="row">
                 <div class="col">
                     <p class="text-center">Please log in or sign up for an account</p>
                 </div>
             </div>
             <form>

                 <br>
                 <div class="row">
                     <div class="col">
                         <button type="button" class="btn btn-outline-success" id="loginButton">Login</button>
                     </div>
                     <div class="col">
                         <button type="button" class="btn btn-success" id="signUpButton">Sign Up</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </div>