<div class="container">
  <div class="row">
      <h1>Ready To Go?</h1>
         <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus exercitationem quis omnis aperiam fugiat voluptatum cupiditate blanditiis, quod quas sequi molestias nulla autem. Corporis, reprehenderit quis? Ab recusandae aliquam totam!</p>
        </div>

    <div class="col">
      <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name@domain">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password input">
  </div>
  <div class="row">
      <div class="col">
          <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Remember Me
        </label>
      </div>
      </div>
      <div class="col"> 
          <a href="forgotPassword.html">Forgot Password</a>
      </div>
  </div>
  <div class="row">
<div class="col">
<button>Login</button>
</div>
  </div>
  <div class="col">
<button>Sign Up </button>
  </div>
</form>
    </div>
  </div>
  </div>
