
    <!-- livefeed -->
    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1><a style="color:green; text-decoration:none" href="http://www.google.com">GG</a></h1>
            {{!-- go back to categories --}}
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/"><button type="button" class="btn btn-outline-success" id="loginButton">Log Out</button></a>

        </div>
    </nav>

    <!-- Live Feed -->
    <div class="container">
        <div class="col">
            <h3 class="text-center">Live Feed</h3>
            <p class="text-center">Join a group or start one!</p>
        </div>
        <hr>
    </div>

    <div class="row" style="justify-content: center">
        <!-- Large modal -->
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-lg">Create New Post</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                    </div>
                    <div class="modal-body">
                        <p>Location:</p>
                        <p>Date:</p>
                        <p>Time:</p>
                        <p>Event Info:</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                    <button type="button" class="btn btn-success">+ Join</button>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><small class="text-muted">Location</small></p>
                        <p class="card-text"><small class="text-muted">Date/Time</small></p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>