<h1>LOGIN PAGE</h1>


<form action="/auth/login"method="POST">
    <input type="text" name = "name" placeholder="Username" id="username">
    <input type="password" name = "password" placeholder="password" id="password">
    <input type="submit" value="Go Go go!" id="login">
</form>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center">Please log in or sign up for an account</p>
        </div>
    </div>
    <form action="/auth/login" method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Username</label>
            <input type="text" class="form-control" name="name" placeholder="Username" id="inputUsername">
        </div>
        <br>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" name="password" placeholder="password" id="inputPassword">
        </div>
        <br>
        <div class="row" style="justify-content: center">
             <a href="/auth/categories"><input type="submit" value="GO GO GO!" class="btn btn-outline-success" id="loginButton" style="justify-content: center"></a>            
        </div>
    </form>
</div>

