 <!-- login -->

    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1><a style="color:rgb(75, 161, 75); text-decoration:none" href="https://go-gang.herokuapp.com/">GG</a></h1>
            {{!-- back to homepage --}}
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/signUp"><button type="button" class="btn btn-success" id="signUpButton">Sign Up</button></a>

        </div>
    </nav>

    <div class="container" style="justify-content: center;">

        <div class="row">
            <div class="col">
                <p class="text-center">Please log in or sign up for an account</p>
            </div>
        </div>
        <form action="/auth/login" method="POST" id="login">
            <div class="form-group">
                <label for="formGroupExampleInput">Username</label>
                <input type="text" class="form-control" name="name" placeholder="Username" id="inputUsername">
            </div>
            <br>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password" id="inputPassword">
            </div>
            <br>
            <div class="row" style="justify-content: center">
                <a href="/auth/categories"><input type="submit" value="GO GO GO!" class="btn btn-outline-success" id="loginButton" style="justify-content: center"></a>
            </div>
        </form>
    </div>

    <script src="/js/login.js"></script>