
    <!-- signUp -->
    <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1>GG</h1>
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/login"><button type="button" class="btn btn-outline-success" id="loginButton">Login</button></a>

        </div>
    </nav>

    <!-- Sign Up -->
    <div class="container">
        <form>
            <div class="col">
                <h3 class="text-center">Sign Up</h3>
                <p class="text-center">Get started for free!</p>
            </div>
            <hr>
            <div class="form-row" id="signUpForm">
                <div class="form-group col-md-4">
                    <label for="inputFirst4">First Name</label>
                    <input type="first" class="form-control" id="inputFirst4" placeholder="First Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputLastName4">Last Name</label>
                    <input type="last" class="form-control" id="inputLast4" placeholder="Last Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputDOB4">DOB</label>
                    <input type="dob" class="form-control" id="inputDOB4" placeholder="01/31/2001">
                </div>
            </div>
            {{!--
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmailAddress">Email Address</label>
                    <input type="text" class="form-control" id="inputEmailAddress" placeholder="name@domain.com">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div> --}}

            <div class="col">
                <h3 class="text-center">Answer 3 Icebreakers</h3>
                <p class="text-center">This helps people get to know you easily!</p>
            </div>
            <hr>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Question One</label>
                <select class="form-control" id="exampleFormControlSelect1">
                      <option>Which common saying or phrase describes you?</option>
                      <option>Which three words describe you best?</option>
                      <option>Which is your best feature?</option>
                      <option>What’s the best thing that’s happened to you this week?</option>
                      <option>If money was not a concern what would you do every day if you didn’t work?</option>
                    </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer One</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Question Two</label>
                <select class="form-control" id="exampleFormControlSelect1">
                      <option>Which three words describe you best?</option>
                      <option>Which is your best feature?</option>
                      <option>What’s the best thing that’s happened to you this week?</option>
                      <option>If money was not a concern what would you do every day if you didn’t work?</option>
                      <option>Which common saying or phrase describes you?</option>
                    </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer Two</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Question Three</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Which is your best feature?</option>
                    <option>What’s the best thing that’s happened to you this week?</option>
                    <option>If money was not a concern what would you do every day if you didn’t work?</option>
                    <option>Which common saying or phrase describes you?</option>
                    <option>Which three words describe you best?</option>
                        </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Answer Three</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <div class="row" style="justify-content: center">

                <button type="submit" class="btn btn-outline-success" id="create-user">Let's GO</button>
            </div>
        </form>
    </div>
