body {
    background: lightblue;
}


/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px -1px 0 lightskyblue, 1px -1px 0 lightskyblue, -1px 1px 0 lightskyblue, 1px 1px 0 lightskyblue;
    text-align: center;
}